body {
  height: 100%;
  font-family: Helvetica, serif;
  background-color: #fff;
}

p {
  font: 16px/22px Nunito, Helvetica, serif;
  font-weight: 400;
}

ul {
  list-style: none;
  width: 500px;
  padding: 20px;
  height: 300px;
  overflow: scroll;
  li:hover {
    background-color: #ddd;
    cursor: pointer;
  }
}
