@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'JakarMedium';
  src:
    local('JakarMedium'),
    local('JakarMedium'),
    url('../public/fonts/PlusJakartaSans-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'JakarBold';
  src:
    local('JakarBold'),
    local('JakarBold'),
    url('../public/fonts/PlusJakartaSans-Bold.ttf') format('truetype');
  font-weight: 700;
}

:root {
  --main-font: 'JakarMedium';
  --main-bold-font: 'JakarBold';
  --white-color: hsl(0, 0%, 100%);
  --error-color: hsl(4, 69%, 50%);
  --primary-color: hsl(61, 70%, 52%);
  --main-bg-color: hsl(199, 81%, 94%);
  --state-100-color: hsl(202, 86%, 94%);
  --state-300-color: hsl(203, 41%, 72%);
  --state-500-color: hsl(200, 26%, 54%);
  --state-700-color: hsl(200, 24%, 40%);
  --state-900-color: hsl(202, 55%, 16%);
  --main-font-weight: 500;
  --main-p-size: 16px;
  --font-color: '#ccc';
}
